.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar {
    background-image: linear-gradient(
            -90deg,#a47db6,#a83279) !important;

}
.nav-link {
    color: var(--white-color) !important;
}
.nav-logo {
    width: 30px;
    transform: scale(1.5);
}
.header form .btn {
    background-color: #fff;
    color: #ad3b6e;
    border-color: #fff !important;
}
.nav-item.active {
    background-color: #cb9999;
    border-radius: 10px;
}
.list-container {
    overflow-x: scroll;
}
.add-new {
    font-size: 20px;
}
.quick-menu {
    margin-top: 70px;
}
.quick-menu i {
    padding: 0 4px;
}

.table td, .table th {
    padding: 5px;
    vertical-align: middle;
}

table {
    font-size: 15px;
}

.edit {
    font-size: 20px;
    color: #0037ff;
}

.delete {
    font-size: 20px;
    color: #ff0000;
}